*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.cont {
    background-color: black;
    color: white;
    width: 100px;
    height: 100px;
    animation-name: anim;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#rebour {
    position: relative;
    top: calc(50% - 1.5rem);
    left: calc(50% - 1.5rem);
    color: white;
    font-size: 3rem;
}

@keyframes anim {
    0% {
        background-color: black;
    }
    50% {
        background-color: yellow;
    }
    100% {
        background-color: black;
    }
}